body {
  background-color: #003D45;
}

a {
  color: white;
  font-weight: normal;
  text-decoration: line-through;
}

#email-link, #github-link, #linkedin-link, #resume-link {
  color: white;

}

#work-link, #contact-link {
  cursor: pointer;
  float: left;
}

#particles-js1 {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #003D45;
  background-size: cover;
  z-index: -1;
}

#particles-js2 {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #003D45;
  background-size: cover;
  z-index: -1;
}

#front-page {
  margin: 0% 20% 5% 20%;
  padding: 0%;
}

#hello {
  margin: 0% 3%;
  padding: 20% 3% 0% 3%;
}

.hello-title {
  font-family: Athene, "Times New Roman", Times, serif;
  color: #FFE2AB;
  font-size: 7vmax;
  margin: 0;
  display: inline-block;
}

#hello-subtitle {
  font-family: Catamaran, Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  font-size: 1.8vmax;
  opacity: 0.7;
  margin-top: 5%;
  display: inline-block;
}

.hello-links {
  font-family: Catamaran, Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  font-size: 1.8vmax;
  opacity: 0.7;
  margin-top: 5%;
}

#gradient {
  background: rgba(0,61,69,1);
  background: -moz-linear-gradient(top, rgba(0,61,69,1) 0%, rgba(0,87,97,1) 55%, rgba(0,120,133,1) 74%, rgba(0,147,163,1) 89%, rgba(0,167,189,1) 95%, rgba(0,179,199,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,61,69,1)), color-stop(55%, rgba(0,87,97,1)), color-stop(74%, rgba(0,120,133,1)), color-stop(89%, rgba(0,147,163,1)), color-stop(95%, rgba(0,167,189,1)), color-stop(100%, rgba(0,179,199,1)));
  background: -webkit-linear-gradient(top, rgba(0,61,69,1) 0%, rgba(0,87,97,1) 55%, rgba(0,120,133,1) 74%, rgba(0,147,163,1) 89%, rgba(0,167,189,1) 95%, rgba(0,179,199,1) 100%);
  background: -o-linear-gradient(top, rgba(0,61,69,1) 0%, rgba(0,87,97,1) 55%, rgba(0,120,133,1) 74%, rgba(0,147,163,1) 89%, rgba(0,167,189,1) 95%, rgba(0,179,199,1) 100%);
  background: -ms-linear-gradient(top, rgba(0,61,69,1) 0%, rgba(0,87,97,1) 55%, rgba(0,120,133,1) 74%, rgba(0,147,163,1) 89%, rgba(0,167,189,1) 95%, rgba(0,179,199,1) 100%);
  background: linear-gradient(to bottom, rgba(0,61,69,1) 0%, rgba(0,87,97,1) 55%, rgba(0,120,133,1) 74%, rgba(0,147,163,1) 89%, rgba(0,167,189,1) 95%, rgba(0,179,199,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#003d45', endColorstr='#00b3c7', GradientType=0);
  position: absolute;
  margin: 0% 10% 15% 10%;
}

#gradient1 {
  position: static;
  margin: 0%;
  background-color: #003D45;
}

#boxes {
  margin: auto;
  width: 50%;
  min-width: 35vw
}

#work, #contact {
  margin: auto;
  width: 61%;
}

.container {
  margin: 0% 20% 10% 20%;
  padding: 0vw 20vw;
  width: 10vw;
}

.row {
  padding: 10px;
  width: 100%;
  margin: auto;
}

.box {
  margin: auto;
  font-size: 1.8vmax;
  color: white;
  text-align: center;
}

.box-title {
  font-size: 1.3vmax;
  text-align: center;
}

.desc {
  font-size: 1vmax;
  text-align: left;
  display: none;
}

.work-box {
  border: 5px double white;
  opacity: 0.8;
  color: white;
  margin: 0vw 1vw;
  padding: 5vw 3vw;
  background-color: #003D45;
  min-width: 15vw;
}

.contact-box {
  width: 60%;
  margin: auto;
  padding: 3vw 4vw;
}

.title {
  font-family: Athene, "Times New Roman", Times, serif;
  color: #FFE2AB;
  font-size: 4vmax;
  padding-top: 8%;
}

.strikethrough {
  display: inline-block;
  position: relative;
  transition: all 0.5s cubic-bezier(.55, 0, .1, 1);
}

.strikethrough:after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  margin-top: -0.7em;
  background: white;
  transform-origin: center left;
  animation: strikethrough 1s 0.5s cubic-bezier(.55, 0, .1, 1) 1;
  transition: transform 0.5s cubic-bezier(.55, 0, .1, 1);
}

.strikethrough:hover:after {
  transform: scaleX(0);
  transform-origin: center right;
}
/*
.work-box:hover p.box-title{
  display: none;
}

.work-box:hover p.desc:after{
  display: inline;
  content: "hello";
}
*/

.work-box-small-hover, .work-box-hover {
  border: 5px double #003D45;
  background-color: white;
  color: #003D45;
  opacity: 0.7;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
}

.work-box-small-hover {
  padding: 3vw 3vw;
}
.work-box-hover {
  padding: 2vw 3vw;
}

.title-hover {
  display: none;
}

@keyframes strikethrough {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.8; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.8; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.8; }
}